# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries dir
bin
obj

# Code::Blocks files
*.depend
*.layout

# Qt files
*.pro*

# Logs dir
log

# Emacs backup files
*~
